.navbar-header > img {
    height: 100%;
    width: 50%;
    margin-left: 20px;
}

.navbar {
    background-color: black;
    border-color: black;
}

.navbar-default .navbar-nav {
    margin-top: 15px;
/*    padding-bottom: 40px;*/
    margin-right: 50px; 
}

.navbar-default .navbar-nav>li>a {
    color: white;
    text-transform: uppercase;
/*    padding-bottom: 15px;*/
}

.navbar-default .navbar-nav>li>a:visited {
    color: white;
    border-bottom: solid;
    
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    border-bottom: solid;
}

.navbar-default .navbar-nav>li>a:active {
    background: purple;
}