html {
/*    position: relative;*/
    min-height: 100%;
}

body {   
	color: white;
	background: linear-gradient(black 20%, #331137);
}

.model {
    margin-left: 20px;
    position: absolute;
    z-index: 20;
    bottom: 0;
}

.content h1 {
    font-family: "Hobo Std";
    text-transform: uppercase;
}

.content p {
    font-size: 18px;
    padding-bottom: 15px;    
}

footer {  
/*    height: 50px;*/
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 15px;
    width: 100%;
    bottom: 0;
/*    top:0;*/
}