body {
	color: white;
	background: linear-gradient(black 20%, #331137);
    background-repeat: no-repeat;
}

.model {
    margin-left: 35px;
    margin-top: -30px;
    position: fixed;
    height: 71vh;
    z-index: 20;
    float: left;
}

.content {
    margin: 70px 0px 0px 50px;
    clear: content;
}

.content h1 {
    font-family: "Hobo Std";
    text-transform: uppercase;
}

.content p {
    font-size: 18px;
    padding-bottom: 15px;    
}

.footer {
    height: 50px;
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 15px;
    margin-top: 219px;
    position: relative;
}