.opening-hours {
    float: right;
    width: 280px;
    margin-right: 50px;
}

.week {
    float: left;
    clear: left;
    list-style: none;
    margin-right: 30px
}

.times {
    clear: right;
/*    float: right;*/
    list-style: none;
    text-align: center;
    margin-left: 110px;  
}

.phone {
    clear: both;
    float: left;
    margin: -5px 80px 0px;
}