.opening-hours {
/*    float: right;*/
    width: 280px;
    margin-right: 50px;
}

.heading h4{
    font-family: "Hobo Std";
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
}

.week {
    float: left;
    clear: left;
    margin-right: 30px
}

.times {
    clear: right;
    text-align: center;
    margin-left: 110px;  
}

.week, 
.times {
    list-style: none;
}

.phone {
/*    clear: both;*/
/*    float: left;*/
    margin: 0px 80px -20px;
/*    padding-bottom: -90px;*/
}

@media only screen and (max-width: 768px){
    .opening-hours {
        display: none;
    }
}
